USE [master]
GO
/****** Object:  Database [test]    Script Date: 09/01/2026 01:35:34 p. m. ******/
CREATE DATABASE [test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [test]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 09/01/2026 01:35:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NULL,
	[Contrasena] [varchar](max) NULL,
	[Tecnologia] [varchar](5) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarioPorID]    Script Date: 09/01/2026 01:35:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Created by GitHub Copilot in SSMS - review carefully before executing
CREATE PROCEDURE [dbo].[ObtenerUsuarioPorID]
    @UsuarioID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        UsuarioID,
        NombreUsuario
    FROM dbo.Usuarios
    WHERE UsuarioID = @UsuarioID;
END;
GO
/****** Object:  StoredProcedure [dbo].[RegistrarUsuario]    Script Date: 09/01/2026 01:35:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Created by GitHub Copilot in SSMS - review carefully before executing
CREATE PROCEDURE [dbo].[RegistrarUsuario]
    @NombreUsuario VARCHAR(50),
    @Contraseña VARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO dbo.Usuarios (NombreUsuario, Contraseña)
    VALUES (@NombreUsuario, @Contraseña);
    
    -- Retorna el ID del usuario recién creado
    SELECT SCOPE_IDENTITY() AS UsuarioID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UsuarioObtenerHashContrasena]    Script Date: 09/01/2026 01:35:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Para obtener el hash cuando el usuario haga login
CREATE PROCEDURE [dbo].[sp_UsuarioObtenerHashContrasena]
    @NombreUsuario VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT Contrasena
    FROM dbo.Usuarios
    WHERE NombreUsuario = @NombreUsuario
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UsuariosCrear]    Script Date: 09/01/2026 01:35:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UsuariosCrear]
    @NombreUsuario VARCHAR(50),
    @Contraseña VARCHAR(MAX)
AS
BEGIN
    INSERT INTO dbo.Usuarios (NombreUsuario, Contrasena, Tecnologia)
    VALUES (@NombreUsuario, @Contraseña, 'CSHAR');
    
    SELECT SCOPE_IDENTITY() AS UsuarioID;
END;
GO
USE [master]
GO
